# Dependências
/node_modules
/pnpm-lock.yaml # Use apenas se você quiser ignorar o lockfile gerado localmente, mas geralmente é recomendado enviar.

# Compilação e Build
/dist
/build
/out
.vitepress/cache
# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de ambiente e segredos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store

# Diretórios e Arquivos do Editor/IDE (Opcional, mas recomendado)
.idea
.vscode/*
!.vscode/settings.json # Manter settings do VS Code
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Backups temporários
*.ts.bak
